
:root{
    --red : rgb(255, 88, 88);
    --yellow:#326ce5;   
}
.main{
    padding-top: 20px ;
}


.one-box{
    padding-top: 5%;
}

.section-margin{
    margin-top: 10%;
    margin-bottom: 10%;
}

.padding-y{
    padding:10% 0 0 0;
}

.head-logo{
    margin-left: 10%;
}

.logo-text{
    font-size: 16px;
}

.head-bg-img{
    background-image: url(./images/headerBG-min.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: auto;
}

.text-header{
    text-align: center;
    position: relative;
    margin: auto;
    padding-top: 10%;
    font-size: 44px;
    font-weight: bold;
    color: #000;
    bottom: 0;
}

.two-box{
    position: relative;
    padding-top: 155px;
    left: -65px;
}

.button{
    padding: 0px 53px 5px 53px;
    max-width: 260px;
    height: 65px;
    font-size: 18px;
    transition: 0.5s all;
    color: white;
    background-color: rgb(255, 0, 52);
    box-shadow: 1px 4px 25px rgba(255, 0, 52 , 0.4);
}

.button:hover{
    background-color: var(--yellow);
    box-shadow: 1px 4px 25px rgba(72, 84, 255, 0.5);
    transform: scale(1.1);
}

.icons{
    font-size: 25px;
}
.icons i , .icons img{
    margin: 0 20px 0 20px;
}
.icons img{
    margin-top: 8px;
}

@media only screen and (max-width:600px){
    .one-box{
        display: none;
    }
    .two-box{
        display: none;
    }
    .button{
        padding: 0px 23px 5px 23px;
    }
    .text-header{
        font-size: 42px;
    }
}

.card-bg{
    background-color: rgba(255, 255, 0, 0.414);
}

.cards{
    margin-top: 8% !important;
}

.cards div:nth-child(1){
    border-right: 0.5px solid rgba(255, 198, 207 , 0.3);
    border-bottom: 0.5px solid rgba(255, 198, 207 , 0.3);
}
.cards div:nth-child(2){
    border-bottom: 0.5px solid rgba(255, 198, 207 , 0.3);
}

.cards>div{
    padding: 5% 0 !important;
}

.cards-sec>div{
    padding: 5% 0 !important;
}

.cards-sec div:nth-child(1){
    border-right: 1px solid rgba(255, 198, 207 , 0.3);
}



@media only screen and (max-width:770px){
    .cards-sec div:nth-child(1){
        border: none;
    }

    .cards div:nth-child(1),.cards div:nth-child(2){
        border: none;
    }

}



.implements-text{
    width: auto;
    height: auto;
    border: 0.5px solid rgba(255, 230, 128,0.3);
    background-color: rgba(254,247,220 , 0.2);
    position: relative;
}

.implements-text div{
    width: 60%;
    z-index: 100;
    position: relative;
    line-height: 30px;
    margin: 40px 0 0px 0px ;
    padding-left: 50px;
    font-size: 26px;
    font-weight: 600;
}


.implements-text div:nth-child(3){
    margin-bottom: 10%;
}


.corner{
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
}

.cloud{
    z-index: 0;
    position: absolute;
    right: 0px;
    bottom: 0;
}

.liens{
    height: 150px;
    align-self: center;
}

@media only screen and (max-width:1100px){
    .liens{
        display: none;
    }
}



.tool{
    width: 16.6%;
}

.tool img{
    margin: 50px 0 50px 0;
}

.clients{
    background-color: black;
}

.company-logo{
    width: 25%;
}
.company-logo img{
    margin: 50px 0;
}

.over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}


@media only screen and (max-width:850px){
    .tool{
        width: 25%;
    }
}

@media only screen and (max-width:570px){
    
    .tool{
        width: 50%;
    }
    .company-logo{
        width: 50%;
    }
    .text-header{
        font-size: 32px;
    }
}
@media only screen and (max-width:990px){
    .company-logo{
        width: 33%;
    }
}

@media only screen and (max-width:770px){
    .company-logo{
        width: 50%;
    }
    .implements-text div{
        width: 100%;
        text-align: center;
        font-size: 18px;
        margin: 5px 0 30px 0 !important;
        padding: 5px !important;
    }
}

.clients h1{
    width: 70%;
    margin: auto;
    padding-top: 8%;
    padding-bottom: 8%;
}

.domain{
    color: var(--yellow);
}

.footer div div{
    line-height: 50px;
}

.team-heading{
    margin-top: 5%;
    font-size: 35px;
    font-weight: 500;
}
.team-heading-sec{
    margin-top: 5%;
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.footer-sections{
    height: 650px;
}

.domain-devOps{
    font-size: 20px;
    color: var(--red);
}

.domain-devs{
    font-size: 20px;
    color: white;
}

.contact{
    font-size: 18px;
    font-weight: bold;
}
.contact-sec{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.bg-red{
    background-color: var(--yellow);
    color: white;
}   

@media only screen and (max-width:570px){
    
    .footer-sections{
        height: 950px;
    }
   
}

.section-margin-top{
    margin-top: 10%;
}

.footer-text{
    height: 20vh;
    font-size: 14px;
    font-weight: 600;
}
.fingers{
    margin-top: -8px;
    height: 20px;
}
.icons-footer img{
    margin-top: 15px;
}



.button-footer{
    padding: 0px 53px 5px 53px;
    max-width: 260px;
    height: 65px;
    font-size: 18px;
    transition: 0.5s all;
    color: white;
    background-color: #0051ff7c;
    box-shadow: 1px 4px 25px rgb(50, 107, 229);
}

.button-black{
    box-shadow: none;
    background-color: rgb(37, 37, 37) !important;
}

.button-black:hover{
    color: white !important;
    box-shadow: 1px 4px 25px rgba(70, 70, 70, 0.3);
    background-color: rgb(37, 37, 37) !important;
}

.button-footer:hover{
    box-shadow: 1px 4px 25px rgba(255, 0, 52 , 0.4);
    background-color: rgb(255, 0, 52);
    color: white;
    transform: scale(1.1);
}