/* styling of header section  */
*{
    line-height: 65px;
    font-family: SolomonSansSemiBold,sans-serif;
    /* background-color: rgba(184, 183, 183, 0.1); */
}
:root{
    --pink:rgb(255, 0, 52);   
}
.main{
    padding-top: 20px ;
}

.section-margin{
    margin-top: 10%;
    margin-bottom: 10%;
}

.head-logo{
    margin-left: 9%;
}

.head-bg-img{
    background-image: url(./images/headerBG.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: auto;
}

.text-header{
    text-align: center;
    position: relative;
    margin: auto;
    padding-top: 6%;
    font-size: 52px;
    color: #000;
    bottom: 0;
}

.two-box{
    position: relative;
    padding-top: 65px;
    left: -65px;
    /* padding-left: -10px; */
}

.button{
    background-color: var(--pink);
    padding: 0px 53px 5px 53px;
    max-width: 260px;
    height: 65px;
    color: white;
    font-size: 18px;
    box-shadow: 1px 4px 25px rgba(255, 0, 52 , 0.5);
}

.icons{
    font-size: 25px;
}

@media only screen and (max-width:600px){
    .one-box{
        display: none;
    }
    .two-box{
        display: none;
    }
    .button{
        padding: 0px 23px 5px 23px;
    }
    .text-header{
        font-size: 42px;
    }
}

.cards{
    margin-top: 8% !important;
}

.cards div:nth-child(1){
    border-right: 0.5px solid rgba(255, 198, 207 , 0.3);
    border-bottom: 0.5px solid rgba(255, 198, 207 , 0.3);
}
.cards div:nth-child(2){
    border-bottom: 0.5px solid rgba(255, 198, 207 , 0.3);
}

.cards>div{
    padding: 5% 0 !important;
}

.cards-sec>div{
    padding: 5% 0 !important;
}

.cards-sec div:nth-child(1){
    border-right: 1px solid rgba(255, 198, 207 , 0.3);
}



@media only screen and (max-width:770px){
    .cards-sec div:nth-child(1){
        border: none;
    }

    .cards div:nth-child(1),.cards div:nth-child(2){
        border: none;
    }

}


.info{
    background-color: rgb(128, 128, 128);
    padding-top: 30px;
    padding-left: 68px;
    height: 431px;
    width: auto;
    /* position: absolute; */
}

.info div h3{
    width: 60%;
    height: 18vh;
}

.clouds{
    position: relative;
    top: -100px;
}

.implements{
    width: 50%;
}

.tool{
    width: 183.14px;
}

.tool img{
    margin: 50px 0 50px 0;
    /* line-height: 300px; */
}

.clients{
    background-color: rgb(0, 0, 0);
}

.company-logo{
    width: 25%;
}
.company-logo img{
    margin: 50px 0;
}

.over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}


    
@media only screen and (max-width:570px){
    .tool{
        width: 50%;
    }
    .company-logo{
        width: 50%;
    }
}
@media only screen and (max-width:990px){
    .company-logo{
        width: 33%;
    }
}

@media only screen and (max-width:770px){
    .company-logo{
        width: 50%;
    }
}

.clients h1{
    width: 70%;
    margin: auto;
    padding-top: 8%;
    padding-bottom: 8%;
}

.domain{
    color: var(--pink);
}

.footer div div{
    line-height: 50px;
}

.team-heading{
    margin-top: 5%;
    font-size: 35px;
    font-weight: 500;
}

.footer-sections{
    height: 650px;
}

.domain-devOps{
    font-size: 20px;
    color: var(--pink);
}

.domain-devs{
    font-size: 20px;
    /* color: var(--pink); */
}

.contact{
    font-size: 18px;
    font-weight: bold;
}

.bg-red{
    background-color: var(--pink);
}

@media only screen and (max-width:570px){
    .icons-footer{
        position: none !important;
    }
    .footer-sections{
        height: 950px;
    }
   
}

.section-margin-top{
    margin-top: 10%;
}

.footer-text{
    height: 20vh;
    font-size: 14px;
    font-weight: 600;
}
.fingers{
    margin-top: -8px;
    height: 20px;
}